<div class="template" *ngIf="coleccion">
    <div class="detalles">
        <br />
        <label for="base-nombre">Tipo: </label>
        <select [(ngModel)]="tipoSeleccionado" (ngModelChange)="refreshBases()">
            <option *ngFor="let tipo of listaTipos" [value]="tipo.id">{{ tipo.descripcion }}</option>
        </select>
        <br />
        <label for="coleccion-plataforma">Plataforma: </label>
        <select [(ngModel)]="plataformaSeleccionada" (ngModelChange)="refreshBases()">
            <option *ngFor="let plataforma of listaPlataformas" [value]="plataforma.id">{{ plataforma.corto ? '(' +
                plataforma.corto + ') ' : '' }}{{ plataforma.nombre }}</option>
        </select>
        <br />
        <label for="coleccion-base">Nombre: </label>
        <select [(ngModel)]="baseSeleccionado" (ngModelChange)="refreshEdiciones()" *ngIf="listaBases.length > 1">
            <option *ngFor="let base of listaBases" [value]="base.id">{{ base.nombre }}</option>
        </select>
        <input id="coleccion-base-input" placeholder="Selecciona tipo y plataforma" *ngIf="listaBases.length <= 1"
            disabled="true">
        <br />
        <label for="coleccion-edicion">Edición: </label>
        <select [(ngModel)]="edicionSeleccionada" *ngIf="listaEdiciones.length > 1">
            <option *ngFor="let edicion of listaEdiciones" [value]="edicion.id">{{ edicion.nombre }}
                {{ edicion.plataforma && edicion.plataforma.nombre ? '(' + edicion.plataforma.nombre + ')': '' }}
            </option>
        </select>
        <input id="coleccion-edicion-input" placeholder="N/A" *ngIf="listaEdiciones.length <= 1" disabled="true">
        <br />
        <label for="coleccion-idioma">Idioma: </label>
        <select [(ngModel)]="idiomaSeleccionado">
            <option *ngFor="let idioma of listaIdiomas" [value]="idioma.id">{{ idioma.corto ? '(' + idioma.corto + ') '
                : '' }}{{ idioma.descripcion }}</option>
        </select>
        <br />
        <label for="coleccion-region">Región: </label>
        <select [(ngModel)]="regionSeleccionada">
            <option *ngFor="let region of listaRegiones" [value]="region.id">{{ region.corto ? '(' + region.corto + ') '
                : '' }}{{ region.descripcion }}</option>
        </select>
        <br />
        <label for="coleccion-estado-general">Estado: </label>
        <select [(ngModel)]="estadoGeneralSeleccionado">
            <option *ngFor="let estado of listaEstadosGeneral" [value]="estado.id">{{ estado.descripcion }}</option>
        </select>
        <br />
        <label for="coleccion-estado-caja">Caja: </label>
        <select [(ngModel)]="estadoCajaSeleccionado">
            <option *ngFor="let estado of listaEstadosCaja" [value]="estado.id">{{ estado.descripcion }}</option>
        </select>
        <br />
        <label for="coleccion-compra">F. Compra: </label>
        <input id="coleccion-compra" type="date" [(ngModel)]="coleccion.fecha_compra" placeholder="Fecha compra" />
        <br />
        <label for="coleccion-entrega">F. Entrega: </label>
        <input id="coleccion-entrega" type="date" [(ngModel)]="coleccion.fecha_recibo" placeholder="Fecha entrega" />
        <br />
        <label for="coleccion-unidades">Unidades: </label>
        <input id="coleccion-unidades" [(ngModel)]="coleccion.unidades" placeholder="Unidades" />
        <br />
        <label for="coleccion-coste">Coste: </label>
        <input id="coleccion-coste" [(ngModel)]="coleccion.coste" placeholder="Coste" />
        <br />
        <label for="coleccion-tienda">Tienda: </label>
        <select [(ngModel)]="tiendaSeleccionada">
            <option *ngFor="let tienda of listaTiendas" [value]="tienda.id">{{ tienda.nombre }}</option>
        </select>
        <br />
        <div class="subir-fichero-container">
            <button class="subir-fichero" (click)="subirFactura()">Añadir factura</button>
            <div class="seleccion-fichero-container">
                <button type="button" (click)="facturaInput.click()">Sel. factura</button>
                <label> {{facturaSeleccionada?.name | ellipsis: 30 }}</label>
                <input type="file" #facturaInput style="display: none" (change)="onFacturaSeleccionada($event)">
            </div>
        </div>
        <br />
        <div class="subir-fichero-container">
            <button class="subir-fichero" (click)="subirFoto()">Añadir foto</button>
            <div class="seleccion-fichero-container">
                <button type="button" (click)="fotoInput.click()">Sel. foto</button>
                <label> {{fotoSeleccionada?.name | ellipsis: 30 }}</label>
                <input type="file" #fotoInput style="display: none" (change)="onFotoSeleccionada($event)">
            </div>
        </div>
        <br />
        <label for="coleccion-notas">Notas: </label>
        <textarea id="coleccion-notas" [(ngModel)]="coleccion.notas">{{coleccion.notas}}</textarea>
        <br />
        <br />
        <div class="detalles-botones">
            <button type="button" (click)="back()">Atrás</button>
            <button type="button" (click)="save()">Guardar</button>
        </div>
        <label class="codigo-coleccion">{{coleccion.codigo}}</label>
    </div>
    <div class="detalles-facturas" *ngIf="hayFacturas()">
        <div class="detalles-facturas-titulo">Facturas</div>
        <br />
        <table class="detalles-lista-facturas">
            <tr *ngFor="let factura of facturas">
                <td>
                    <li><a [href]="factura.url" target="_blank">{{factura.nombre_original}}</a></li>
                </td>
                <td>
                    <button class="detalles-factura-eliminar" (click)="eliminarFichero(factura.id)">×</button>
                </td>
            </tr>
        </table>
    </div>
    <div class="detalles-galeria" *ngIf="hayFotos()">
        <div class="detalles-galeria-titulo">Galería</div>
        <br />
        <div class="detalles-fotos-videos">
            <div class="detalles-foto-video" *ngFor="let foto of fotos">
                <ng-container *ngIf="foto.nombre_original?.endsWith('.mp4'); else imagenTemplate">
                    <button class="detalles-video-eliminar" (click)="eliminarFichero(foto.id)">×</button>
                    <video controls width="300">
                        <source [src]="foto.url" type="video/mp4">
                        Tu navegador no soporta el elemento de video.
                    </video>
                </ng-container>
                <ng-template #imagenTemplate>
                    <button class="detalles-foto-eliminar" (click)="eliminarFichero(foto.id)">×</button>
                    <a [href]="foto.url" target="_blank">
                        <img [src]="foto.url" alt="Imagen">
                    </a>
                </ng-template>
            </div>
        </div>
    </div>
</div>