<div class="contenedor-juegos">
    <div class="crud">
        <button routerLink="/juego/new">+</button>
    </div>
    <div class="params">
        <div class="campo">
            <button class="limpiar-filtro" (click)="limpiarFiltro()">×</button>
        </div>
        <div class="campo">
            Nombre:
            <br />
            <input [(ngModel)]="filtro.nombreJuego" placeholder="Juego" (ngModelChange)="getJuegos()" />
        </div>
        <div class="campo">
            Saga:
            <br />
            <input [(ngModel)]="filtro.sagaJuego" placeholder="Saga/Franquicia" (ngModelChange)="getJuegos()" />
        </div>
    </div>
    <table class="lista-juegos">
        <tr class="encabezado-juegos">
            <th>Juego</th>
            <th>Saga</th>
            <th>Fecha de salida</th>
            <th>Plataformas</th>
        </tr>
        <tr class="juego" *ngFor="let juego of juegos" routerLink="/juego/{{juego.id}}">
            <td class="nombre">{{juego.nombre}}</td>
            <td class="saga">{{juego.saga}}</td>
            <td class="fecha">{{juego.fecha_salida | date: 'dd/MM/yyyy'}}</td>
            <td class="plataformas"></td>
        </tr>
    </table>
</div>