.idea/
__pycache__
config.txt
ApiRest/tmp
ApiRest/files
*.log
backups/
backup/
Sheet/
*.ffs_batch
*.ffs_gui

Web/coleccion-web/.gitignore
Web/coleccion-web/.editorconfig
Web/coleccion-web/.vscode
Web/coleccion-web/tsconfig.json
Web/coleccion-web/tsconfig.app.json
Web/coleccion-web/tsconfig.spec.json
Web/coleccion-web/src/assets/.gitkeep

Web/dist/
Web/node_modules/
Web/src/**/*.js
Web/src/**/*.js.map
Web/src/**/*.d.ts
Web/angular.json
Web/.idea/
Web/.vscode/
Web/e2e/
Web/karma.conf.js
Web/protractor.conf.js
*.log.*
*.swp
*.swo
*.js
*.js.map
*.d.ts
package-lock.json
yarn.lock
*.js
*.js.map
*.d.ts
package-lock.json
yarn.lock
*.css
*.css.map
