<div class="template" *ngIf="coleccion">
    <div class="detalles">
        <label for="coleccion-plataforma">Plataforma: </label>
        <select [(ngModel)]="plataformaSeleccionada">
            <option *ngFor="let plataforma of listaPlataformas" [value]="plataforma.id">{{ plataforma.corto ? '(' + plataforma.corto + ') ' : '' }}{{ plataforma.nombre }}</option>
        </select>
        <br />
        <label for="coleccion-juego">Juego: </label>
        <select [(ngModel)]="juegoSeleccionado">
            <option *ngFor="let juego of listaJuegos" [value]="juego.id">{{ juego.nombre }}</option>
        </select>
        <br />
        <br />
        <div class="detalles-botones">
            <button type="button" (click)="back()">Atrás</button>
            <button type="button" (click)="save()">Guardar</button>
        </div>
    </div>
</div>