<div class="template" *ngIf="juego">
    <div class="detalles">
        <label for="juego-nombre">Nombre: </label>
        <input id="juego-nombre" [(ngModel)]="juego.nombre" placeholder="Nombre" />
        <br />
        <label for="juego-saga">Saga/Franquicia: </label>
        <input id="juego-saga" [(ngModel)]="juego.saga" placeholder="Saga/Franquicia" />
        <br />
        <label for="juego-saga">Fecha de salida: </label>
        <input id="juego-saga" type="date" [(ngModel)]="juego.fecha_salida" placeholder="Fecha de salida" />
        <br />
        <br />
        <div class="detalles-botones">
            <button type="button" (click)="back()">Atrás</button>
            <button type="button" (click)="save()">Guardar</button>
        </div>
    </div>
</div>