<div class="contenedor-roms">
    <div class="crud">
        <button routerLink="/rom/new">+</button>
    </div>
    <div class="params">
        <div class="campo">
            <button class="limpiar-filtro" (click)="limpiarFiltro()">×</button>
        </div>
        <div class="campo">
            Plataforma:
            <br />
            <select [(ngModel)]="filtro.plataformaSeleccionada" (change)="getRoms()">
                <option *ngFor="let plataforma of listaPlataformas" [value]="plataforma.id">{{ plataforma.corto ? '(' +
                    plataforma.corto + ') ' : '' }}{{ plataforma.nombre }}</option>
            </select>
        </div>
        <div class="campo">
            Nombre:
            <br />
            <input [(ngModel)]="filtro.nombreBase" placeholder="Nombre" (ngModelChange)="getRoms()" />
        </div>
        <div class="campo">
            Saga:
            <br />
            <input [(ngModel)]="filtro.saga" placeholder="Saga/Franquicia" (ngModelChange)="getRoms()" />
        </div>
    </div>
    <table class="lista-roms">
        <tr class="encabezado-roms">
            <th>Plataforma</th>
            <th>Nombre</th>
            <th>Nombre ROM</th>
            <th>Idioma/Región</th>
            <th>Extension</th>
            <th>Descarga</th>
        </tr>
        <tr class="rom" *ngFor="let rom of roms" routerLink="/rom/{{rom.id}}">
            <td class="plataforma">{{rom.plataforma?.nombre}}</td>
            <td class="base">{{rom.base?.nombre}}</td>
            <td class="rom">{{rom.nombre_rom}}</td>
            <td *ngIf="rom.idioma && rom.region" class="idioma-region">{{rom.idioma.descripcion}} / {{rom.region.descripcion}}</td>
            <td *ngIf="rom.idioma && !rom.region" class="idioma-region">{{rom.idioma.descripcion}}</td>
            <td *ngIf="!rom.idioma && rom.region" class="idioma-region">{{rom.region.descripcion}}</td>
            <td *ngIf="!rom.idioma && !rom.region" class="idioma-region"></td>
            <td class="extension">{{rom.tipo_rom?.extension}}</td>
            <td class="descarga">{{rom.fecha_descarga | date: 'dd/MM/yyyy'}}</td>
        </tr>
    </table>
</div>