<div class="contenedor-progresos">
    <p class="contenedor-titulo">Últimos jugados</p>
    <table class="lista-progresos">
        <tr class="encabezado-progresos">
            <th>Plataforma</th>
            <th>Nombre</th>
            <th>Estado</th>
            <th>Porcentaje</th>
            <th>Horas</th>
            <th>Completo</th>
            <th>Notas</th>
            <th>Inicio</th>
            <th>Fin</th>
            <th>Últ. jugado</th>
        </tr>
        <tr class="progreso" *ngFor="let progreso of ultimosProgresos" routerLink="/progreso/{{progreso.id}}">
            <td class="plataforma">{{progreso.plataforma?.nombre}}</td>
            <td class="base">{{progreso.base?.nombre}}</td>
            <td class="estado">{{progreso.estado_progreso?.descripcion}}</td>
            <td class="porcentaje derecha">{{progreso.porcentaje | formateo: '%'}}</td>
            <td class="horas derecha">{{progreso.horas | number:'0.0-2'}}</td>
            <td class="historia_completa">{{progreso.historia_completa ? 'Sí' : 'No'}}</td>
            <td class="notas">{{progreso.notas}}</td>
            <td class="fecha_inicio derecha">{{progreso.fecha_inicio | date: 'dd/MM/yyyy'}}</td>
            <td class="fecha_fin derecha">{{progreso.fecha_fin | date: 'dd/MM/yyyy'}}</td>
            <td class="fecha_ultimo derecha">{{progreso.fecha_ultimo | date: 'dd/MM/yyyy'}}</td>
        </tr>
    </table>
</div>
<div class="contenedor-completos">
    <p class="contenedor-titulo">Completados</p>
    <table class="lista-completos">
        <tr class="encabezado-completos">
            <th>Mes</th>
            <th>Cantidad</th>
            <th>Juegos</th>
        </tr>
        <tr class="completo" *ngFor="let completo of completos">
            <td class="mes">{{completo.mes}}</td>
            <td class="cantidad centro">{{completo.cantidad}}</td>
            <td class="juegos">{{completo.juegos}}</td>
        </tr>
    </table>
</div>
<div class="contenedor-gastos">
    <div class="contenedor-gastos-izquierdo">
        <p class="contenedor-titulo">Juegos últ. año</p>
        <table class="lista-gastos">
            <tr class="encabezado-gastos">
                <th>Mes</th>
                <th>Cantidad</th>
                <th>F</th>
                <th>D</th>
                <th>Coste</th>
            </tr>
            <tr class="gasto" *ngFor="let gasto of gastosJuegosMes">
                <td class="mes">{{gasto.descripcion}}</td>
                <td class="cantidad centro">{{gasto.cantidad}}</td>
                <td class="fisico centro">{{gasto.fisico}}</td>
                <td class="digital centro">{{gasto.digital}}</td>
                <td class="coste derecha">{{gasto.coste | number:'0.0-2' | formateo:'€'}}</td>
            </tr>
        </table>
        <p class="contenedor-titulo">Gastos totales</p>
        <table class="lista-gastos">
            <tr class="encabezado-gastos">
                <th></th>
                <th>Cantidad</th>
                <th>F</th>
                <th>D</th>
                <th>Coste</th>
            </tr>
            <tr class="gasto" *ngFor="let gasto of gastosTotales">
                <td>{{isTipoGastoJuegosTotal(gasto.tipo) ? 'Juegos' : 'Consolas'}}</td>
                <td class="cantidad centro">{{gasto.cantidad}}</td>
                <td class="fisico centro">{{gasto.fisico}}</td>
                <td class="digital centro">{{gasto.digital}}</td>
                <td class="coste derecha">{{gasto.coste | number:'0.0-2' | formateo:'€'}}</td>
            </tr>
        </table>
    </div>
    <div class="contenedor-gastos-centro">
        <p class="contenedor-titulo">Juegos x plataforma</p>
        <table class="lista-gastos">
            <tr class="encabezado-gastos">
                <th>Plataforma</th>
                <th>Cantidad</th>
                <th>F</th>
                <th>D</th>
                <th>Coste</th>
            </tr>
            <tr class="gasto" *ngFor="let gasto of gastosJuegosPlataforma">
                <td class="plataforma">{{gasto.plataforma_nombre}}</td>
                <td class="cantidad centro">{{gasto.cantidad}}</td>
                <td class="fisico centro">{{gasto.fisico}}</td>
                <td class="digital centro">{{gasto.digital}}</td>
                <td class="coste derecha">{{gasto.coste | number:'0.0-2' | formateo:'€'}}</td>
            </tr>
        </table>
        <p class="contenedor-titulo">Juegos x tienda</p>
        <table class="lista-gastos">
            <tr class="encabezado-gastos">
                <th>Tienda</th>
                <th>Cantidad</th>
                <th>F</th>
                <th>D</th>
                <th>Coste</th>
            </tr>
            <tr class="gasto" *ngFor="let gasto of gastosJuegosTienda">
                <td class="plataforma">{{gasto.descripcion}}</td>
                <td class="cantidad centro">{{gasto.cantidad}}</td>
                <td class="fisico centro">{{gasto.fisico}}</td>
                <td class="digital centro">{{gasto.digital}}</td>
                <td class="coste derecha">{{gasto.coste | number:'0.0-2' | formateo:'€'}}</td>
            </tr>
        </table>
    </div>
    <div class="contenedor-gastos-derecho">
        <p class="contenedor-titulo">Roms</p>
        <table class="lista-gastos">
            <tr class="encabezado-gastos">
                <th>Plataforma</th>
                <th>Cantidad</th>
            </tr>
            <tr class="gasto" *ngFor="let gasto of romsPlataforma">
                <td class="plataforma">{{gasto.plataforma_nombre}}</td>
                <td class="cantidad centro">{{gasto.cantidad}}</td>
            </tr>
        </table>
    </div>
</div>