<div class="template" *ngIf="progreso">
    <div class="detalles">
        <div class="detalles-eliminar">
            <button type="button" (click)="delete()">×</button>
        </div>
        <br />
        <label for="progreso-plataforma">Plataforma: </label>
        <select [(ngModel)]="plataformaSeleccionada" (ngModelChange)="refreshBases();save(true)">
            <option *ngFor="let plataforma of listaPlataformas" [value]="plataforma.id">{{ plataforma.corto ? '(' +
                plataforma.corto + ') ' : '' }}{{ plataforma.nombre }}</option>
        </select>
        <br />
        <label for="progreso-base">Nombre: </label>
        <select [(ngModel)]="baseSeleccionado" *ngIf="listaBases.length > 1" (ngModelChange)="save(true)">
            <option *ngFor="let base of listaBases" [value]="base.id">{{ base.nombre }}</option>
        </select>
        <input id="progreso-base-input" placeholder="Selecciona tipo y plataforma" *ngIf="listaBases.length <= 1"
            disabled="true">
        <br />
        <label for="progreso-estado">Estado: </label>
        <select [(ngModel)]="estadoSeleccionado" (ngModelChange)="save(true)">
            <option *ngFor="let estado of listaEstados" [value]="estado.id">{{ estado.descripcion }}</option>
        </select>
        <br />
        <label for="progreso-horas">Horas: </label>
        <input id="progreso-horas" [(ngModel)]="progreso.horas" placeholder="Horas" (input)="formatHoras($event)"
            (ngModelChange)="save(true)" />
        <br />
        <label for="progreso-fin">Últ. día: </label>
        <input id="progreso-fin" type="date" [(ngModel)]="progreso.fecha_ultimo" placeholder="Último día de juego"
            (ngModelChange)="save(true)" />
        <br />
        <label for="progreso-notas">Notas: </label>
        <input id="progreso-notas" [(ngModel)]="progreso.notas" placeholder="Notas" (ngModelChange)="save(true)" />
        <br />

        <div class="crear-extra">
            <button class="crear-sesion" (click)="addSesion()" [disabled]="!progreso.id">Añadir sesión</button>
            <div class="extras-sesiones">
                <table class="detalles-extras" *ngFor="let sesion of listaSesiones">
                    <div class="detalles-eliminar">
                        <button (click)="deleteSesion(sesion.id)">×</button>
                    </div>
                    <tr>
                        <td colspan="4" *ngIf="listaBasesDlc.length > 1">
                            <label for="sesion-dlc">DLC: </label>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4" *ngIf="listaBasesDlc.length > 1">
                            <select [ngModel]="sesion.base_dlc?.id" (ngModelChange)="saveSesion(sesion, true, $event)">
                                <option *ngFor="let dlc of listaBasesDlc" [value]="dlc.id">{{ dlc.nombre }}</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <label for="sesion-incio">Inicio: </label>
                        </td>
                        <td>
                            <label for="sesion-fin">Fin: </label>
                        </td>
                        <td>
                            <label for="sesion-fin">Horas: </label>
                        </td>
                    </tr>
                    <tr>
                        <td>Sesión:</td>
                        <td>
                            <input id="sesion-incio" type="date" [(ngModel)]="sesion.fecha_inicio" placeholder="Inicio"
                                (ngModelChange)="saveSesion(sesion, false, $event)" />
                        </td>
                        <td>
                            <input id="sesion-fin" type="date" [(ngModel)]="sesion.fecha_fin" placeholder="Fin"
                                (ngModelChange)="saveSesion(sesion, false, $event)" />
                        </td>
                        <td>
                            <input id="sesion-horas" [(ngModel)]="sesion.horas" placeholder="Horas"
                                (ngModelChange)="saveSesion(sesion, false, $event)" />
                        </td>
                    </tr>
                    <tr>
                        <td>Historia:</td>
                        <td>
                            <input id="sesion-h-incio" type="date" [(ngModel)]="sesion.fecha_h_inicio" placeholder="H. Inicio"
                                (ngModelChange)="saveSesion(sesion, false, $event)" />
                        </td>
                        <td>
                            <input id="sesion-h-fin" type="date" [(ngModel)]="sesion.fecha_h_fin" placeholder="H. Fin"
                                (ngModelChange)="saveSesion(sesion, false, $event)" />
                        </td>
                        <td>
                            <input id="sesion-horas-h" [(ngModel)]="sesion.horas_h" placeholder="Horas H."
                                (ngModelChange)="saveSesion(sesion, false, $event)" />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <input id="sesion-notas" [(ngModel)]="sesion.notas" placeholder="Notas"
                                (ngModelChange)="saveSesion(sesion, false, $event)" />
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="subir-fichero-container">
            <button class="subir-fichero" (click)="subirFoto()" [disabled]="!progreso.id || subiendoFotos">Añadir
                fotos</button>
            <div class="seleccion-fichero-container">
                <button type="button" (click)="fotoInput.click()">Seleccionar fotos</button>
                <label> {{ strFotosSeleccionadas | ellipsis: 40 }}</label>
                <input type="file" multiple #fotoInput style="display: none" (change)="onFotosSeleccionadas($event)">
            </div>
        </div>
        <br />
        <br />
        <div class="detalles-botones">
            <button type="button" (click)="back()">Atrás</button>
            <button type="button" (click)="save(false)">
                {{ progreso.id ? 'Guardar' : 'Crear' }}
            </button>
        </div>
    </div>
    <div class="detalles-galeria" *ngIf="hayFotos()">
        <div class="detalles-galeria-titulo">Galería</div>
        <br />
        <div class="detalles-fotos-videos">
            <div class="detalles-foto-video" *ngFor="let foto of fotos">
                <ng-container *ngIf="foto.nombre_original?.endsWith('.mp4'); else imagenTemplate">
                    <button class="detalles-video-eliminar" (click)="eliminarFichero(foto.id)">×</button>
                    <video controls width="300">
                        <source [src]="foto.url" type="video/mp4">
                        Tu navegador no soporta el elemento de video.
                    </video>
                </ng-container>
                <ng-template #imagenTemplate>
                    <button class="detalles-foto-eliminar" (click)="eliminarFichero(foto.id)">×</button>
                    <a [href]="foto.url" target="_blank">
                        <img [src]="foto.url" alt="Imagen">
                    </a>
                </ng-template>
            </div>
        </div>
    </div>
</div>