<div class="template" *ngIf="progreso">
    <div class="detalles">
        <div class="detalles-eliminar">
            <button type="button" (click)="delete()">×</button>
        </div>
        <br />
        <label for="progreso-plataforma">Plataforma: </label>
        <select [(ngModel)]="plataformaSeleccionada" (ngModelChange)="refreshBases();save(true)">
            <option *ngFor="let plataforma of listaPlataformas" [value]="plataforma.id">{{ plataforma.corto ? '(' +
                plataforma.corto + ') ' : '' }}{{ plataforma.nombre }}</option>
        </select>
        <br />
        <label for="progreso-base">Nombre: </label>
        <select [(ngModel)]="baseSeleccionado" *ngIf="listaBases.length > 1" (ngModelChange)="save(true)">
            <option *ngFor="let base of listaBases" [value]="base.id">{{ base.nombre }}</option>
        </select>
        <input id="progreso-base-input" placeholder="Selecciona tipo y plataforma" *ngIf="listaBases.length <= 1"
            disabled="true">
        <br />
        <label for="progreso-estado">Estado: </label>
        <select [(ngModel)]="estadoSeleccionado" (ngModelChange)="save(true)">
            <option *ngFor="let estado of listaEstados" [value]="estado.id">{{ estado.descripcion }}</option>
        </select>
        <br />
        <label for="progreso-porcentaje">Porcentaje: </label>
        <input id="progreso-porcentaje" [(ngModel)]="progreso.porcentaje" placeholder="%"  (ngModelChange)="save(true)"/>
        <br />
        <label for="progreso-horas">Horas: </label>
        <input id="progreso-horas" [(ngModel)]="progreso.horas" placeholder="Horas" (input)="formatHoras($event)"  (ngModelChange)="save(true)"/>
        <br />
        <label for="progreso-completo">Completo: </label>
        <input id="progreso-completo" type="checkbox" [(ngModel)]="progreso.historia_completa"  (ngModelChange)="save(true)"/>
        <br />
        <label for="progreso-notas">Notas: </label>
        <input id="progreso-notas" [(ngModel)]="progreso.notas" placeholder="Notas"  (ngModelChange)="save(true)"/>
        <br />
        <label for="progreso-incio">Inicio: </label>
        <input id="progreso-incio" type="date" [(ngModel)]="progreso.fecha_inicio" placeholder="Inicio"  (ngModelChange)="save(true)"/>
        <br />
        <label for="progreso-fin">Fin: </label>
        <input id="progreso-fin" type="date" [(ngModel)]="progreso.fecha_fin" placeholder="Fin" (ngModelChange)="save(true)" />
        <br />
        <label for="progreso-fin">Últ. día: </label>
        <input id="progreso-fin" type="date" [(ngModel)]="progreso.fecha_ultimo" placeholder="Último día de juego"  (ngModelChange)="save(true)"/>
        <br />
        <div class="subir-fichero-container">
            <button class="subir-fichero" (click)="subirFoto()" [disabled]="!progreso.id || subiendoFotos">Añadir
                fotos</button>
            <div class="seleccion-fichero-container">
                <button type="button" (click)="fotoInput.click()">Seleccionar fotos</button>
                <label> {{ strFotosSeleccionadas | ellipsis: 40 }}</label>
                <input type="file" multiple #fotoInput style="display: none" (change)="onFotosSeleccionadas($event)">
            </div>
        </div>
        <br />
        <br />
        <div class="detalles-botones">
            <button type="button" (click)="back()">Atrás</button>
            <button type="button" (click)="save(false)">
                {{ progreso.id ? 'Guardar' : 'Crear' }}
            </button>
        </div>
    </div>
    <div class="detalles-galeria" *ngIf="hayFotos()">
        <div class="detalles-galeria-titulo">Galería</div>
        <br />
        <div class="detalles-fotos-videos">
            <div class="detalles-foto-video" *ngFor="let foto of fotos">
                <ng-container *ngIf="foto.nombre_original?.endsWith('.mp4'); else imagenTemplate">
                    <button class="detalles-video-eliminar" (click)="eliminarFichero(foto.id)">×</button>
                    <video controls width="300">
                        <source [src]="foto.url" type="video/mp4">
                        Tu navegador no soporta el elemento de video.
                    </video>
                </ng-container>
                <ng-template #imagenTemplate>
                    <button class="detalles-foto-eliminar" (click)="eliminarFichero(foto.id)">×</button>
                    <a [href]="foto.url" target="_blank">
                        <img [src]="foto.url" alt="Imagen">
                    </a>
                </ng-template>
            </div>
        </div>
    </div>
</div>