<div class="template" *ngIf="historial">
    <div class="detalles">
        <label for="historial-plataforma">Plataforma: </label>
        <select [(ngModel)]="plataformaSeleccionada">
            <option *ngFor="let plataforma of listaPlataformas" [value]="plataforma.id">{{ plataforma.corto ? '(' + plataforma.corto + ') ' : '' }}{{ plataforma.nombre }}</option>
        </select>
        <br />
        <label for="historial-juego">Juego: </label>
        <select [(ngModel)]="juegoSeleccionado">
            <option *ngFor="let juego of listaJuegos" [value]="juego.id">{{ juego.nombre }}</option>
        </select>
        <br />
        <label for="historial-estado">Estado: </label>
        <select [(ngModel)]="estadoSeleccionado">
            <option *ngFor="let estado of listaEstados" [value]="estado.id">{{ estado.descripcion }}</option>
        </select>
        <br />
        <label for="historial-porcentaje">Porcentaje: </label>
        <input id="historial-porcentaje" [(ngModel)]="historial.porcentaje" placeholder="%" />
        <br />
        <label for="historial-horas">Horas: </label>
        <input id="historial-horas" [(ngModel)]="historial.horas" placeholder="Horas" (input)="formatHoras($event)" />
        <br />
        <label for="historial-completo">Completo: </label>
        <input id="historial-completo" type="checkbox" [(ngModel)]="historial.historia_completa" />
        <br />
        <label for="historial-notas">Notas: </label>
        <input id="historial-notas" [(ngModel)]="historial.notas" placeholder="Notas" />
        <br />
        <label for="historial-incio">Inicio: </label>
        <input id="historial-incio" type="date" [(ngModel)]="historial.fecha_inicio" placeholder="Inicio" />
        <br />
        <label for="historial-fin">Fin: </label>
        <input id="historial-fin" type="date" [(ngModel)]="historial.fecha_fin" placeholder="Fin" />
        <br />
        <br />
        <div class="detalles-botones">
            <button type="button" (click)="back()">Atrás</button>
            <button type="button" (click)="save()">Guardar</button>
        </div>
    </div>
</div>