<div class="contenedor-colecciones">
    <table class="lista-colecciones">
        <tr class="encabezado-colecciones">
            <th>Plataforma</th>
            <th>Juego</th>
            <th>Idioma/Región</th>
            <th>Estado</th>
            <th>Caja</th>
            <th>Fecha compra</th>
            <th>Fecha entrega</th>
            <th>Coste</th>
            <th>Tienda</th>
            <th>Notas</th>
        </tr>
        <tr class="coleccion" *ngFor="let coleccion of colecciones">
            <td class="plataforma">{{coleccion.plataforma?.nombre}}</td>
            <td class="juego">{{coleccion.juego?.nombre}}</td>
            <td *ngIf="coleccion.idioma && coleccion.region" class="idioma-region">{{coleccion.idioma.descripcion}} / {{coleccion.region.descripcion}}</td>
            <td *ngIf="coleccion.idioma && !coleccion.region" class="idioma-region">{{coleccion.idioma.descripcion}}</td>
            <td *ngIf="!coleccion.idioma && coleccion.region" class="idioma-region">{{coleccion.region.descripcion}}</td>
            <td *ngIf="!coleccion.idioma && !coleccion.region" class="idioma-region"></td>
            <td class="estado-general">{{coleccion.estado_general?.descripcion}}</td>
            <td class="estado-caja">{{coleccion.estado_caja?.descripcion}}</td>
            <td class="fecha-compra">{{coleccion.fecha_compra | date: 'dd/MM/yyyy'}}</td>
            <td class="fecha-entrega">{{coleccion.fecha_recibo | date: 'dd/MM/yyyy'}}</td>
            <td *ngIf="coleccion.coste" class="coste">{{coleccion.coste | number:'0.0-2'}}€</td>
            <td *ngIf="!coleccion.coste" class="coste"></td>
            <td *ngIf="coleccion.tienda" class="tienda">{{coleccion.tienda.nombre}}</td>
            <td *ngIf="!coleccion.tienda" class="tienda"></td>
            <td class="notas">{{coleccion.notas}}</td>
        </tr>
    </table>
</div>